---
import Layout from "../layouts/Layout.astro";

import Placement from "../components/Placement.astro";
---

<Layout
	description="The personal website of lewisakura. Come take a look around!">
	<p>
		Hey there, nice to meet you! I'm Lewis (but you can also call me Lewi), a
		software engineer &mdash; primarily backend &mdash; and an aspiring content
		creator. I currently mostly write projects for my own personal use, as part
		of teams, or as commissions for freelance.
	</p>

	<details>
		<summary>More?</summary>
		<p>
			Nice to see your curiosity! <span id="age"
				>I was 18 years old when this site was last updated</span
			>, and I have a huge interest in technology. Whilst software engineering
			is my passion and my major, I've dabbled in network engineering and
			cybersecurity. They're really fun topics, so I'm very passionate about all
			three!
		</p>
		<p>
			I really like designing pretty websites, but actually implementing them is
			a problem for me. I've unfortunately had to throw away projects because of
			it mainly because they were web design heavy or they depended on public
			usage. However, some projects I've been able to keep because of being in
			teams! I really like working in teams of people since it helps me
			distribute the workload and I can focus on my strengths, which is usually
			engineering backend technology.
		</p>
		<p>
			I'm also a game developer, primarily working on the Roblox platform.
			Despite the surrounding stigma, I think it's a great platform for
			learning, and I've had a lot of fun working on it. I've also used Unity,
			Unreal, and Godot.
		</p>
		<p>
			In terms of being a content creator, I have always had an interest in
			providing entertainment to people. One day, when I have a bit of money to
			spare, I'd like to invest in becoming a VTuber &ndash; I have a character
			already, just not the money to bring it into existence. From there,
			depending on how it goes, I might focus completely on content creation and
			move my engineering work to the side. Of course, I'd still partake in
			programming, it has been my life after all, but I'd like to focus more on
			entertaining people and making them happy. I love seeing people smile.
		</p>
		<p>My name is Lewis Crichton. That's my full name.</p>
	</details>

	<h2>Portfolio</h2>
	<p>
		There is quite a bit here, so I'll drop it in another one of the collapsible
		things and you can check it out if you want! I'll try to keep it up to date
		as possible. Personal projects are not listed and you can find them on my
		GitHub (in the footer).
	</p>
	<p>
		You may notice a lot of these are short-term jobs. A few of these were only
		a couple of months or were one-shot placements, and also for the most part
		were volunteer work. For transparency, I have indicated paid positions with
		💸.
	</p>

	<details>
		<summary>That collapsible thing</summary>

		<Placement
			title="Federation Studios"
			from={2023}
			link="https://www.roblox.com/groups/4899462/F-d-ration-Studios"
			isPaid={true}>
			<p>
				Recently been hired by Federation Studios to work on some projects.
			</p>
		</Placement>

		<Placement
			title="SAISEI再生"
			from={2022}
			link="https://www.roblox.com/games/9796162795/"
			isPaid={false}>
			<p>
				Developer and a bit of a data scientist*. Jack of all trades developer
				on the project. I've written part of the combat system, the entirety of
				the emote system and UI, and a lot of administrative tools. I'm
				currently not working very much on the project primarily due to college.
			</p>
			<p>
				<small>
					*I would like to note I am not a qualified data scientist and this is
					in jest. I just read a lot of data and format it nicely.
				</small>
			</p>
		</Placement>

		<Placement
			title="UMAI!!"
			from={2022}
			link="https://www.roblox.com/groups/13688734/-"
			isPaid={true}>
			<p>
				Developer. I am one of the owners of this group and it is owned by a
				group of friends. There are also subgroups (e.g., <a
					href="https://www.roblox.com/groups/16751766/-">BORDER/AND</a
				>) which house some other games.
			</p>
			<p>
				<small>
					Since I own this group, I do the work without a guaranteed salary,
					however I will sometimes use some of the profits that we make.
				</small>
			</p>
		</Placement>

		<Placement
			title="Team Socks / Socksfor1"
			from={2022}
			link="https://www.youtube.com/@Socksfor1"
			isPaid={true}>
			<p>
				Developer on a
				<a href="https://www.roblox.com/games/9335452426/">Roblox game</a>.
				Presently work as a commissioner, though currently inactive. Wrote
				administrative tools and a majority of the initial game, although I
				haven't worked on many updates since. Despite this, however, I do
				release bugfixes from time to time.
			</p>
		</Placement>

		<Placement
			title="WebhookProxy"
			from={2021}
			link="https://webhook.lewisakura.moe"
			isPaid={false}>
			<p>
				Not a traditional job placement, but rather a project. I don't consider
				this a personal project as it's very much widely used by many people
				with millions of requests each day from thousands of unique users. It's
				a Discord webhook proxy, primarily for Roblox games, with enforced
				ratelimit compliance.
			</p>
		</Placement>

		<div id="oldPlacements">
			<h3>Old Placements</h3>
			<Placement
				title="Troll"
				from={2021}
				to={2022}
				link="https://discord.gg/troll"
				isPaid={false}>
				<p>
					Admin, developer, graphic designer, and documentation writer. Troll is
					a very large Discord server, where I administrated and did some
					development work for, and Black Mesa was one of the projects I worked
					on for it, where I was a developer, documentation writer, and graphic
					designer. I have since relinquished all positions due to some internal
					staff team drama and not being able to dedicate the time I'd like to.
				</p>
			</Placement>

			<Placement
				title="ZOぞ"
				from={2021}
				to={2022}
				link="https://www.roblox.com/games/6678877691/-"
				isPaid={true}>
				<p>
					Staff lead and developer. I developed a private bot,
					<a href="https://github.com/lewisakura/botto">BOTTOボット</a>, to
					assist in moderation matters, alongside the ZOぞ Web project, which
					hosted an off-site leaderboard. All of these services no longer exist
					as the current team has abandoned them in favour of other solutions. I
					resigned after there were very apparent differences in how the new
					owners wanted to run the game compared to how it was prior. And hey,
					like someone once said...
				</p>
				<blockquote>
					If you love something, let it go. <small>Someone</small>
				</blockquote>
				<p>
					<small>
						I was technically a volunteer developer, however some parts I worked
						on did get a small amount of pay attached.
					</small>
				</p>
			</Placement>

			<Placement title="Nalian" from={2021} to={2021} isPaid={false}>
				<p>
					Discord and Twitch Moderator, as well as a developer. Wrote
					<a href="https://github.com/nalianlive">a couple cool things</a>.
					Nalian unfortunately quit his content creation job, which meant a lot
					of work was either left private or unfinished. I miss ya buddy, and I
					hope you've been alright.
				</p>
			</Placement>

			<Placement
				title="Other placements"
				from="the beginning"
				to="the end"
				isPaid={false}>
				<p>
					There have been a lot of other placements that I have partaken in, but
					I have decided to not include them, either because I have forgotten
					the exact details and I don't currently have notes of them due to them
					being very old, or because I do not believe they are relevant enough
					to earn a placement on this page. Current placements may also fall
					under this, but I am not active enough in them to warrant a placement
					here.
				</p>
			</Placement>
		</div>
	</details>

	<h2>Contact</h2>
	<p>
		You want to contact me about something? Cool! Hit me up at <code
			>lewi (at) lewisakura (dot) moe</code
		> and we can chat! Alternatively, shoot me a DM on Discord (<code
			>lewisakura#1337</code
		>) and I promise to get back to you within this century.
	</p>

	<script>
		const age = document.getElementById("age")!;
		const birthday = new Date(2004, 10, 18);
		age.innerText = `I am ${Math.floor(
			(Date.now() - birthday.getTime()) / 1000 / 60 / 60 / 24 / 365
		)} years old`;
	</script>
</Layout>

<style>
	/* thank you @itsmeimtom 🙏 */

	#oldPlacements {
		background: var(--mantle);
		padding: 1em;
	}

	#oldPlacements h3 {
		margin: 0;
	}

	#oldPlacements article.placement:last-child p:last-child {
		margin-bottom: 0;
	}

	#oldPlacements > article.placement div.placement-info h5,
	#oldPlacements > article.placement div.placement-info span {
		background-color: var(--mantle);
	}
</style>
