---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";

export interface Props {
	title: string;
	description: string;
	tags: string[];
	createdAt: Date;
	modifiedAt?: Date;
}

const { title, description, createdAt, modifiedAt, tags } = Astro.props;
---

<Layout title={title}>
	<h2>{title}</h2>
	<span id="date">
		<time datetime={createdAt.toISOString()}>
			{createdAt.toLocaleDateString()}
		</time>
		{
			modifiedAt && (
				<>
					{" "}
					(updated{" "}
					<time datetime={modifiedAt.toISOString()}>
						{modifiedAt.toLocaleDateString()}
					</time>
					)
				</>
			)
		}
	</span>
	<p>
		{description}
		<span
			>{
				tags.map((tag) => (
					<a href={`/posts/tags/${tag}`} class="tag">
						#{tag}
					</a>
				))
			}</span
		>
	</p>
	<hr />

	<slot />
</Layout>

<style>
	.tag,
	#date {
		color: var(--subtext0);
		font-style: italic;
	}
</style>
